*, /* this is done at the beginning of every css file often to ensure consistency over different web browsers and have full control over the layout of pages */
*::before, /* the before and after pseudo elements are used to insert something before or after the content of an element */
*::after
{
    margin: 0;
    padding: 0;
}

html {
    background-color: #f2f2f2;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

    /* navbar */
nav {
    background-image: linear-gradient(120deg, #ffffff, #FDAC53); /* background of the navbar */
    display: flex; /* displays the navbar elements in a row */
    justify-content: space-between; /* HORIZANTLLY aligns the navbar elements to the left and right */
    align-items: center; /* VERTICALLY aligns the navbar elements to the center */
    width: 100%; /* width of the navbar */
    position: fixed; /* makes the navbar fixed */
    height: 84px;
}

img.logo {
    height: 64px; /* height of the logo */
    padding: 15px; /* padding of the logo */
}

nav ul li {
    display: inline-block; /* displays the navbar elements in a row */
    margin: 20px; /* margin of the navbar elements (spacing between each other) */
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* color of the navbar elements */
    font-size: 24px; /* size of the navbar elements */
    /* text-transform: uppercase; uppercase of the navbar elements */
    padding: 6px 13px; /* padding of the navbar elements */
    border-radius: 10px; /* border radius of the navbar elements */
}

nav ul li a:hover {
    border-radius: 10px; /* border radius of the navbar elements */
    transition: .3s; /* transition of the navbar elements */
    background-color: #F9FAF8; /* background color of the navbar elements when hovered */
}