*, /* this is done at the beginning of every css file often to ensure consistency over different web browsers and have full control over the layout of pages */
*::before, /* the before and after pseudo elements are used to insert something before or after the content of an element */
*::after
{
    margin: 0;
    padding: 0;
}

html {
    background-color: #f2f2f2;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

    /* navbar */
nav {
    background-image: linear-gradient(120deg, #ffffff, #FDAC53); /* background of the navbar */
    height: 80px; /* height of the navbar */
    display: flex; /* displays the navbar elements in a row */
    justify-content: space-between; /* aligns the navbar elements to the left and right */
    align-items: center; /* aligns the navbar elements to the center */
}

img.logo {
    height: 64px; /* height of the logo */
    line-height: 64px; /* height of the logo in respect to the navbar */
    padding: 0 32px; /* padding of the logo */
    font-weight: bold; /* font weight of the logo */
}

nav ul {
    float: right; /* aligns the navbar ul elements to the right */
    margin-right: 20px; /* margin of the navbar */
}

nav ul li {
    font-size: 18px; /* size of the navbar elements */
    display: inline-block; /* displays the navbar elements in a row */
    line-height: 64px; /* height of the navbar in respect to the logo */
    margin: 0 20px; /* margin of the navbar elements (spacing between each other) */
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: #F9FAF8; /* color of the navbar elements */
    font-size: 20px; /* size of the navbar elements */
    /* text-transform: uppercase; uppercase of the navbar elements */
    padding: 6px 13px; /* padding of the navbar elements */
    border-radius: 10px; /* border radius of the navbar elements */
}

nav ul li a:hover {
    color: #000000; /* color of the navbar elements when hovered */
    border-radius: 10px; /* border radius of the navbar elements */
    transition: .3s; /* transition of the navbar elements */
    background-color: #F9FAF8; /* background color of the navbar elements when hovered */
}